* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 60vw;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  background-color: lavender;
  padding: 20px;
}